.venv/
#if its not saved its not part of the project 
#command s
#*csv #this ignores everything that ends in csv 
#if asked to create a virtual environment quiz_venv
#quiz_venv/ in the gitignore file 
#slash at the end means it ignores everything that follows that
#py -3 -m venv quiz_venv #different py for mac
#number showing up means  you have a change you need to commit before sending it to github 

